.dropdown-toggle span {
    color: cornflowerblue;
}

div.a1 {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t1 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;
   
}

div.t1 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl1 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;
}

img.pyt {
    top: -2;
    padding-left: 100px;
}

div.discover {
  margin: 0 auto;
  margin-top: 150px;   
  text-align: center;    
}

div.a2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t2 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;   
}

div.t2 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl2 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;
}

img.pyt1 {
    margin-top: 5px;
    padding-left: 100px;
}

img.pyt2 {
    top: -40px;
    padding-left: 20px;
}


div.a3 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t3 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;   
}

div.t3 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl3 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;
}

img.pyt3 {
    margin-top: 5px;
    padding-left: 80px;
}


div.a4 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t4 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;   
}

div.t4 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl4 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;
}

img.pyt4 {
    top: -20;
    padding-left: 60px;
    margin-bottom: 10px;
}


div.a5 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t5 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;   
}

div.t5 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl5 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;
}

img.pyt5 {
    margin-top: 5px;
    padding-left: 80px;
    margin-bottom: 10px;
}


div.a6 { 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.t6 p {
    margin-top: 35px;
    font-size: 20px;
    margin-left: 115px;
    width: 600px;
    line-height: 3rem;
    text-align: justify;   
}

div.t6 h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 115px;   
}

.cl6 {   
    margin-top: 6px;
    font-size: 50px;
    position: absolute;
    margin-left: 30px;
    color: cornflowerblue;    
}

img.pyt6 {    
    margin-top: 30px;
    padding-left: 100px;   
}

div.a6 span {
    color: #F8E71C;
}

div.a5 span {
    color: #3CBBF7;
}

div.a4 span {
    color: #E74C3C;
}


div.bulb {    
    text-align: center;
    margin-bottom: 200px;    
    display: flex;    
    width: 1345px;
}

div.smart {
    margin-left: 80px;
}

div.diverse {
    margin-top: 100px;
    margin-left: 80px;
}

div.sky {    
    text-align: center;    
}

div.kite {
   text-align: center;     
}


html, body {   
  max-width: 100%;  
}

svg {
  display: block;
  overflow: visible;  
}




@media screen and (min-width: 320px) and (max-width: 480px){
    .slider-container {
        display: none;
    }
    div.kite {
    display: none;
}
    
    main {
        margin-top: 450px;
    }
    
    div.a1 {  
        position: relative;
        left: -50px;
        width: 480px;   
}
    div.t1 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t1 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl1 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
}
    img.pyt1 {
    display: none;
}
    div.a2 {  
        position: relative;
        left: -50px;
        width: 480px;   
}
    div.t2 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t2 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl2 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
}
    img.pyt2 {
    display: none;
}

div.discover img{
  height: 50px;
  width: 280px;
  margin: 0 auto;  
  position: relative;
  top: -85px;
  text-align: center;    
}

div.a3 {
        position: relative;
        left: -50px;
        width: 480px;   
}

div.a3 {  
        position: relative;
        top: -100px;
        left: -50px;
        width: 480px;   
}
    div.t3 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t3 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl3 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
}
    div.a4 {  
        position: relative;
        top: -150px;
        left: -50px;
        width: 480px;   
}
    div.t4 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t4 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl4 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
}
    
   div.a5 {  
        position: relative;
        top: -200px;
        left: -50px;
        width: 480px;   
}
    div.t5 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t5 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl5 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
} 
    
     div.a6 {  
        position: relative;
        top: -250px;
        left: -50px;
        width: 480px;   
}
    div.t6 p {   
    display: block;
    font-size: 1rem;    
    width: 245px;    
    text-align: left;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t6 h3 {
    position: relative;
    left: -60px;
    font-size: 1rem;
    margin-top: 20px;      
}
    .cl6 {   
    margin-top: 12px;
    font-size: 25px;
    position: absolute;
    margin-left: 10px;
    color: cornflowerblue;
} 
    div.diverse {
        display: none;
    }
    div.smart img {
        width: 200px;
        height: 200px;
    }
    
    div.bulb {
        position: relative;
        top: -320px;
        left: -20px;
    }    
    div.sky img {    
    text-align: center;    
    width: 300px;
    height: 130px;
}    
}


@media screen and (min-width: 640px) and (max-width: 960px){
    .slider-container {
        display: none;
    }
    div.kite img {
    width: 660px;
    height: 400px;        
    }  
    
    main {
        margin-top: 15px;
    }
    
    div.a1 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t1 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t1 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl1 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    img.pyt1 {
    display: none;
}
      div.a2 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t2 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t2 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl2 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    img.pyt1 {
    display: none;
}
div.discover img{
  height: 100px;
  width: 580px;
  margin: 0 auto;  
  position: relative;
  top: -100px;
  text-align: center;    
}

div.a3 {
        position: relative;
        left: -50px;
        width: 480px;   
}

div.a3 {  
        position: relative;
        top: -100px;
        left: -20px;
        width: 480px;   
}
    div.t3 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t3 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl3 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    
  div.a4 {  
        position: relative;
        top: -130px;
        left: -20px;
        width: 480px;   
}
    div.t4 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t4 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl4 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    
   div.a5 {  
        position: relative;
        top: -150px;
        left: -20px;
        width: 480px;   
}
    div.t5 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t5 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl5 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    
   div.a6 {  
        position: relative;
        top: -180px;
        left: -20px;
        width: 480px;   
}
    div.t6 p {   
    display: block;
    font-size: 1rem;    
    width: 500px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 1.8rem;
}
    div.t6 h3 {
    position: relative;
    left: -60px;
    font-size: 1.2rem;
    margin-top: 20px;      
}
    .cl6 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 3px;
    color: cornflowerblue;
}
    div.diverse {
        display: none;
    }
    div.smart img {
        width: 400px;
        height: 400px;
    }
    
    div.bulb {
        position: relative;
        top: -250px;
        left: 30px;
    }    
    div.sky img {    
    text-align: center;    
    width: 600px;
    height: 200px;
}    
}

@media screen and (min-width: 768px) and (max-width: 1024px){
   .slider-container {
        display: none;
    }
    div.kite img {
    width: 1000px;
    height: 500px;        
    }  
    
    main {
        margin-top: 25px;
    }
    
    div.a1 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t1 p {   
    display: block;
    font-size: 1.6rem;    
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t1 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl1 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt1 img {
      width: 250px;
      height: 250px;
      position: relative;
      left: -100px;
      top: 20px;
    }
    
     div.a2 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t2 p {   
    display: block;
    font-size: 1.6rem;   
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t2 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl2 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt2 img {
      width: 300px;
      height: 180px;
      position: relative;
      left: -50px;
      top: 20px;
    } 
    
  div.discover img {
  height: 100px;
  width: 780px;
  margin: 0 auto;  
  position: relative;
  top: -30px;
  text-align: center;    
}
    
   div.a3 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t3 p {   
    display: block;
    font-size: 1.6rem;   
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t3 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl3 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt3 img {
      width: 200px;
      height: 200px;
      position: relative;
      left: -60px;
      top: 20px;
    } 
     
    
   div.a4 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t4 p {   
    display: block;
    font-size: 1.6rem;   
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t4 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl4 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt4 img {
      width: 200px;
      height: 200px;
      position: relative;
      left: -50px;
      top: 20px;
    }   
    
       div.a5 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t5 p {   
    display: block;
    font-size: 1.6rem;     
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t5 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl5 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt5 img {
      width: 250px;
      height: 150px;
      position: relative;
      left: -60px;
      top: 20px;
    } 
    
      div.a6 {         
        position: relative;
        left: -20px;
        width: 480px;   
}
    div.t6 p {   
    display: block;
    font-size: 1.6rem;    
    width: 550px;    
    text-align: justify;  
    position: relative;
    left: -60px;
    top: -15px;
    line-height: 2.5rem;
}
    div.t6 h3 {
    position: relative;
    left: -60px;
    font-size: 1.7rem;
    margin-top: 20px;      
}
    .cl6 {   
    margin-top: 12px;
    font-size: 30px;
    position: absolute;
    margin-left: 2px;
    color: cornflowerblue;
}
    div.tt6 img {
      width: 150px;
      height: 150px;
      position: relative;
      left: -60px;
      top: 20px;
    } 
    
     div.diverse img {
        width: 500px;
         height: 100px;
    }
    div.smart img {
        width: 300px;
        height: 300px;
    }
    
    div.bulb {
        position: relative;        
        left: -20px;
        top: -50px;
    } 
    
}


@media (min-width: 990px){
    html, body {
    font-size: 62.5%;    
    max-width: 100%;
    overflow-x: hidden;
}        
}


.slider-container {
  margin-top: 42px;
  position: relative;
  height: 500px;    
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
    font-family: 'Rockwell', sans-serif;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 48%;
  bottom: 1.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;    
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  width: 50%;
  height: 100%;
  margin-left: 690px; 
  top: -20px;
  background-image: url(lan.png); 
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {  
  width: 70%;
  height: 100%;
  margin-left: 70px; 
  top: -30px;
  background-image: url(gg.jpg); 
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  width: 70%;
  height: 100%;
  left: -380px;
  top: -30px;
  background-image: url(jav.jpg); 
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #FFDB58;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {  
  width: 70%;
  height: 100%;
  left: -860px;  
  top: -30px;
  background-image: url(pp.jpg);
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #4AA02C;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}

.slide:nth-child(5) {
  left: 400%;
}
.slide:nth-child(5) .slide__bg {  
  width: 70%;
  height: 100%;
  left: -1330px;  
  top: -30px;
  background-image: url(jsc.jpg);
}
.slide:nth-child(5) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(5) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}


span.sharp {
   color: #98AFC7; 
}

span.jav {
   color: #FFA62F; 
}

span.pp {
    color: #347C2C;
}

span.script {
   color: #368BC1; 
}










.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  width: 1250px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}

@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}

.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%; 
  left: 10%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}




@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;    
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
    
}
.slide__text-heading {
  font-family: 'Rockwell', sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.slide__text-heading1 {
    font-size: 3.71rem;
    margin-bottom: 2rem;
    font-family: 'Rockwell', sans-serif;
}

.slide__text-heading2 {
    font-size: 3.71rem;
    margin-bottom: 2rem;
    font-family: 'Rockwell', sans-serif;
}

.slide__text-heading3 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
    font-family: 'Rockwell', sans-serif;
}

.slide__text-heading4 {
    font-size: 3.8rem;
    margin-bottom: 2rem;
    font-family: 'Rockwell', sans-serif;
}


@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: 'Rockwell', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 2.8rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link1, .slide__text-link2,.slide__text-link3,.slide__text-link4,.slide__text-link5 {
  text-decoration: none;
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Rockwell', sans-serif;
  color: #fff;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link1, .slide__text-link2,.slide__text-link3,.slide__text-link4,.slide__text-link5 {
    display: none;
  }
}
.slide__text-link1:before, .slide__text-link2:before,.slide__text-link3:before,.slide__text-link4:before,.slide__text-link5:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; 
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link1:hover:before, .slide__text-link2:hover:before,.slide__text-link3:hover:before,.slide__text-link4:hover:before,.slide__text-link5:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.slide__text-link1:hover {
    color: #e99c7e;
}


.slide__text-link2:hover {
    color: #cbc6c3;
}

.slide__text-link3:hover {
    color: #FFDB58;
}

.slide__text-link4:hover {
    color: #4AA02C;
}

.slide__text-link5:hover {
    color: #adc5cd;
}