html, body {    
    overflow-x: hidden;
}

div.goal {   
    display: flex;
    height: 300px;
    width: 1080px;
    margin-left: 125px;
    margin-right: 110px;
    margin-top: 150px;    
    background: #fff;
    color: #000;
    font-family: 'Rockwell', sans-serif;
}

div.one {
    width: 500px;
    text-align: justify;
}
div.one p {
    line-height: 1.6rem;
    font-size: 16px;
}
div.one h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

div.two {
    margin-left: 150px;
    width: 500px;
    text-align: justify;
}
div.two h6 {
    color: #fff;    
    font-size: 0.8rem;
    text-transform: uppercase;
}
div.two p {
    line-height: 1.6rem;
    font-size: 16px;
}


div. lap {
    overflow: hidden;
}
img.doc {
    width: 100%;
    height: 100%;    
}


div.goal1 {     
    display: flex;
    height: 400px;
    width: 1335px;   
    margin-top: 10px;      
    font-family: 'Rockwell', sans-serif;
}

div.three {
    padding-left: 50px;
    padding-right: 50px;
    width: 667px;
    text-align: justify;
}

p.in {
    line-height: 1.6rem;
    font-size: 16px;
    padding-bottom: 20px;
    font-style: italic;
}

p.info {
    line-height: 1.6rem;
    font-size: 16px;    
}

div.three h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

div.four {
    padding-left: 50px;
    padding-right: 50px;
    width: 667px;
    color: #fff;
    text-align: justify;    
    background-color: #000;     
}
div.four h6 {
    color: #fff;    
    font-size: 0.8rem;
    text-transform: uppercase;
}

p.in1 {    
    line-height: 1.6rem;
    font-size: 16px;
    padding-bottom: 43px;
    font-style: italic;
}

p.info {
    line-height: 1.6rem;
    font-size: 16px;    
}


div.lap1 {
    display: flex;
}

div.as {
   margin-left: 100px;
   width: 400px; 
}

img.doc1 { 
    top: -90px;
    position: relative;
    width: 400px;
    height: 400px;
}

div.az {
    width: 700px;
    padding-top: 30px;
    padding-left: 120px;    
}

img.doc2 {
    width: 700px;
    height: 450px;
}


div.goal3 {     
    display: flex;     
    margin-top: 100px;      
    font-family: 'Rockwell', sans-serif;
}

div.five {    
    margin-left: 100px;    
    width: 500px;
    color: #000;
    text-align: justify;       
}

div.five h6 {    
    font-size: 0.8rem;
    text-transform: uppercase;
}

img.doc3 {
    width: 700px;
    height: 665px;
}

img.doc4 {
    width: 500px;
}

div.five span {
    color: #f79820;
    font-weight: 600;
}

.dropdown-toggle span {
    color: cornflowerblue;
}


main {
    padding-bottom: 200px;
}

ul.tabs {
    list-style-type: none;
    width: 100px;
    top: -16px;
    position: relative;
    margin-left: 250px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    div.goal {
        margin-top: 350px;
        display: table;
        position: relative;
        left: -100px;
        width: 300px;
    } 
    div.one {
    width: 272px;
    text-align: justify;    
}
div.one p {
    line-height: 1.6rem;
    font-size: 1rem;
}
div.one h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

div.two {
    position: relative;
    top: -20px;
    margin-left: 1px;
    width: 272px;
    text-align: justify;
}
div.two h6 {
    display: none;
}
div.two p {
    margin-top: 60px;
    line-height: 1.6rem;
    font-size: 1rem;
}
    div.goal1 {     
    display: table;    
    width: 272px;   
}

div.three {
    padding-left: 25px;    
    width: 272px;
    text-align: justify;
}

p.in {
    width: 272px;
    line-height: 1.6rem;
    font-size: 1rem;
    padding-bottom: 20px;
    font-style: italic;
}

p.info {
    width: 272px;
    line-height: 1.6rem;
    font-size: 16px;    
}

div.three h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}
    div.four {
    padding-left: 25px;    
   width: 272px;
    text-align: justify;   
}
div.four h6 {
    padding-top: 20px;
    color: #fff;    
    font-size: 0.8rem;
    text-transform: uppercase;
}

p.in1 { 
    width: 272px;
    font-size: 1rem;
    padding-bottom: 25px;   
}

p.info {
    width: 272px;
    line-height: 1.6rem;
    font-size: 16px;    
    padding-bottom: 50px;
}
    div.as img {
        position: relative;
        left: -80px;
        top: 30px;
        width: 250px;
        height: 250px;
}
    div.az {
        display: none;
    }
    div.as1 img{
       display: none; 
    }
    div.goal3 {
        display: table;
    }
    div.five img {
        position: relative;
        left: -110px;
        width: 300px;
        height: 250px;
    }
    div.five p, div.five h6 {
        position: relative;
        left: -80px;    
}    
}
    
 @media screen and (min-width: 640px) and (max-width: 960px){
    div.goal {
        margin-top: 50px;
        display: table;
        position: relative;
        left: -100px;
        width: 500px;
    } 
    div.one {
    width: 500px;
    text-align: justify;    
}
div.one p {
    line-height: 1.6rem;
    font-size: 1rem;
}
div.one h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

div.two {
    position: relative;
    top: -20px;
    margin-left: 1px;
    width: 500px;
    text-align: justify;
}
div.two h6 {
    display: none;
}
div.two p {
    margin-top: 60px;
    line-height: 1.6rem;
    font-size: 1rem;
}
    div.goal1 {     
    display: table;    
    width: 272px;   
}

div.three {
    padding-left: 25px;    
    width: 500px;
    text-align: justify;
}

p.in {
    width: 500px;
    line-height: 1.6rem;
    font-size: 1rem;
    padding-bottom: 20px;
    font-style: italic;
}

p.info {
    width: 500px;
    line-height: 1.6rem;
    font-size: 16px;    
}

div.three h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}
    div.four {
    padding-left: 25px;    
    width: 550px;
    text-align: justify;   
}
div.four h6 {
    padding-top: 20px;
    color: #fff;    
    font-size: 0.8rem;
    text-transform: uppercase;
}

p.in1 { 
    width: 500px;
    font-size: 1rem;
    padding-bottom: 25px;   
}

p.info {
    width: 500px;
    line-height: 1.6rem;
    font-size: 16px;    
    padding-bottom: 50px;
}
    div.as img {        
        position: relative;
        left: 10px;
        top: 30px;
        width: 400px;
        height: 400px;
}
    div.az {
        display: none;
    }
    div.as1 img{
       display: none; 
    }
    div.goal3 {
        display: table;
    }
    div.five img {
        position: relative;
        left: -10px;
        width: 400px;
        height: 350px;
    }
    div.five p, div.five h6 {
        position: relative;
        left: -80px;    
}     
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    
    div.goal {
        margin-top: 50px;       
        position: relative;
        left: -100px;
        width: 980px;
    } 
    div.one {
    width: 480px;
    text-align: justify;    
}
div.one p {
    line-height: 1.6rem;
    font-size: 1rem;
}
div.one h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}

div.two {
    position: relative;
    top: -30px;
    margin-left: 50px;
    padding-right: 10px;
    width: 450px;
    text-align: justify;
}

div.two p {
    margin-top: 60px;
    line-height: 1.6rem;
    font-size: 1rem;
}
    div.goal1 {       
    width: 1000px;   
}

div.three {
    padding-left: 25px;    
    width: 470px;
    text-align: justify;
}

p.in {
    width: 500px;
    line-height: 1.6rem;
    font-size: 1rem;
    padding-bottom: 20px;
    font-style: italic;
}

div.three p {
    padding-bottom: 55px;
    width: 500px;
    line-height: 1.6rem;
    font-size: 16px;    
}

div.three h6 {
    font-size: 0.8rem;
    text-transform: uppercase;
}
    div.four {
    padding-left: 25px;    
    width: 400px;
    text-align: justify;   
}

p.in1 { 
    width: 430px;
    font-size: 1rem;
    padding-bottom: 45px;   
}

div.four p {
    width: 430px;
    line-height: 1.6rem;
    font-size: 16px;    
    padding-bottom: 50px;
}
    div.as img {        
        position: relative;
        left: -50px;
        top: -30px;
        width: 350px;
        height: 350px;
}
    div.az img { 
        position: relative;
        left: -70px;
       width: 500px;
       height: 350px;
}
    div.as1 img {       
      width: 500px;
      height: 465px;
}
    div.five img {
        display: none;        
    }
    div.five p, div.five h6 {
        position: relative;
        top: 120px;
        left: -30px;
        
    }
}
     
}
    
    
    
    
    
    
    
    
}
    















