.container{
	width: 760px;
	margin: 50px auto 50px;       
    margin-bottom: 20px;
}

.post{
	margin-bottom: 80px;	
    font-size: 17px;
    font-family: 'Rockwell', sans-serif;
}

.uni {
    color: bisque;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;    
}

.uni1 {
    text-align: center;
    padding-bottom: 80px;
}

span.icon{
    text-align: center;
	display: block;
	font-size: 200px;
	color: skyblue;
	margin: 30px 0px;
}

/* Required */

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}
