/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (max-width: 875px) {
  .button-container {
    margin: 10px 10px !important;
  }  
}

/* -------------------------------- 
		General Style
-------------------------------- */
section.page-container {
  margin: auto;  
  max-width: 800px;
  height: 100px;
  position: relative;
  text-align: center;
}

.section-container {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*** General Button Styles ***/
.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  height: 45px;
  width: 200px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  font-size: 16px;
}

.button-container .button {  
  height: 45px;
  width: 200px;
  border-radius: 3px;  
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
  box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64); 
}


/* -------------------------------- 
			Water Fill
-------------------------------- */
/*** Water Fill ***/

.button-water-fill .button {
  background-position: 0 -50%;
  background-repeat: repeat-x;
  transition: background-position .75s ease;
}
.button-water-fill .button:hover {
  background-position: 100% 60%;
  color: white !important;
}
.button-water-fill.wave-blue .button {
  border: 1px dashed #3CBBF7;
  color: #3CBBF7;
  background-image: url("https://s32.postimg.org/k0nwdbgol/wave_blue.png");
}
.button-water-fill.wave-red .button {
  border: 1px dashed #E74C3C;
  color: #E74C3C;
  background-image: url("https://s32.postimg.org/5798sk8xh/wave_red.png");
}
.button-water-fill.wave-yellow .button {
  border: 1px dashed #F8E71C;
  color: #F8E71C;
  background-image: url("https://s32.postimg.org/ku0i5xmph/wave_yellow.png");
}
.button-water-fill.wave-white .button {
  background-color: black;
  color: white;
  background-image: url("https://s32.postimg.org/6c3axxved/wave_white.png");
}
.button-water-fill.wave-white .button:hover {
  color: black !important;
}
.button-water-fill.wave-black .button {
  border: 1px dashed #000;
  color: black;
  background-image: url("https://s32.postimg.org/g5kiaqxit/wave_black.png");
}
